<div class="row" id="welcome-row"></div>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div id="freet-table" class="panel panel-default">
			<ul id="freet-table-list-group" class="list-group">
			</ul>
		</div>
	</div>
</div>