<div class="row">
  <div class="col-sm-3 col-sm-offset-3">
  	<h2>Hi, <span id="full-name-span">{{user.fullName}}</span>!</h2>
  </div>
  <div class="col-sm-3">
      <button id="logout-btn" type="button" class="btn btn-secondary">Log out</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  	<div class="form-group">
  		<textarea class="form-control" rows="3" id="new-freet" placeholder="What's happening?"></textarea>
  	</div>
  	<button id="freet-button" type="button" class="btn btn-success">Publish Freet!</button>
  </div>
</div>  
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <ul class="nav nav-tabs">
      <li id="all-freets-tab" role="presentation" class="active"><a id="all-freets-btn" href="#">All Freets</a></li>
      <li id="following-freets-tab" role="presentation"><a id="following-freets-btn" href="#">Following Freets</a></li>
      <li id="users-tab" role="presentation"><a id="users-btn" href="#">Users</a></li>
    </ul>
  </div>
</div>